[include mainsail.cfg]
[include startend.cfg]
[include macros.cfg]
[exclude_object]
[include Line_Purge.cfg]
#[include timelapse.cfg]
#[include adxl345.cfg]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 230
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 230
position_min: -5

[extruder]
max_extrude_cross_section: 5
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 26.10
gear_ratio: 42:12
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
#tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 290
min_extrude_temp: 100

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 73.367
pid_Ki: 1.652
pid_Kd: 814.373
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 400
max_accel: 7000
minimum_cruise_ratio: 0.2
max_z_velocity: 30
max_z_accel: 600 
square_corner_velocity: 10

[input_shaper]
#shaper_type_x = mzv
#shaper_freq_x = 65.6
#shaper_type_y = mzv
#shaper_freq_y = 47.5

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -30
y_offset: -45
#z_offset = 3.600
probe_with_touch_mode: True

[safe_z_home]
home_xy_Position: 140,160
speed: 300
z_hop: 10
z_hop_speed: 5

[bed_screws]
screw1: 50,50
screw2: 220,50
screw3: 220,220
screw4: 50,220

[bed_mesh]
speed: 200
horizontal_move_z: 10
mesh_min: 10,10
mesh_max: 200,180
probe_count: 6,6
algorithm: bicubic
bicubic_tension: 0.2
mesh_pps: 4,4           

[filament_switch_sensor filament_sensor]
pause_on_runout: True
runout_gcode:
    M117 Filament abgelaufen!
    PAUSE
insert_gcode:
    M117 Filament geladen.
switch_pin: ^PA7

[firmware_retraction]
retract_length: 0.8
retract_speed: 50
